h1
{
    font-family:Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
   
}
body
{
    background-image:url(https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*) ;
    background-size: 50%;
    background-repeat: no-repeat;
}

.special
{
    font-weight: bold ;
    border-style:dashed ;
  
}